nav{

    background-color: black;

    color: white;

    text-align: center;

    padding: 15px;

}


.fund,.comment,.input{

    background-color: lightgray;

    padding: 15px;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

    backdrop-filter: blur(5px);

    overflow-y: auto;

}


.fund:hover,.comment:hover,.input:hover {

    box-shadow: 0 10px 25px rgba(0,0,0,0.4);

}


#overlay{

    position: fixed;

    z-index: 5;

    width: 100%;

    height: 100%;

    background-color: white;

    opacity: 0.7;

    display: none;

}


#comment {

    position: fixed;

    top: 0;

    right: 0%;

    width: 500px;

    height: 100%;

    background-color: lightgray;

    padding: 20px;

    transition: left 0.3s ease;

    box-shadow: 2px 0 10px rgba(0,0,0,0.5);

    z-index: 10;

    overflow-y: auto;

    display: none;

}


#input_div{

    position: fixed;

    top: 82%;

    background-color: gray;

    width: 100%;

    left: -2px;

    overflow-x: hidden;

}


#input_box{

    background-color: white;

    width: 89%;

    font-family: 'Times New Roman';

    font-size: medium;

}


.send-btn{

    position: absolute;

    right: 40px;

    bottom: 40px;

    background-color: black;

    color: white;

    border-radius: 50%;

    font-weight: bolder;

    font-size: larger;

}

.comment_msg{
    background-color: white;
    padding: 10px;
    border: 70%;
}